# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# User-specific files. This is a file that I created to explain the project to myself. It is not needed for the project to run.
# by listing the txt here, it will not be pushed to the repository.
notes/Explination.txt 

 